<main>
  <div class="container m-auto p-4 ">
    <div class="row">
      <div class="col-md-4">
        <div class="p-2 border border-light rounded bg-primary">
        <h4>作成者プロフィール</h4>
        <div class="col-md-6 text-center">
          <%= attachment_image_tag @recipe.user, :profile_image, size: "200x200", class:"p-2", fallback: "l_e_others_501.png" %>
        </div>
        <table class="table rounded border border-light">
          <tr>
            <th>名前</td>
            <td><%= @recipe.user.name %></td>
          </tr>
          <tr>
            <th>自己紹介</th>
            <th><%= @recipe.user.introduction %></th>
          </tr>
        </table>
        <div class="row justify-content-center">
          <% if @recipe.user == current_user %>
            <%= link_to "このレシピを編集する", edit_recipe_path(@recipe), class: "btn btn-danger w-75 mb-2"%>
          <% end %>
        </div>
      </div>
      </div>
      <div class="col-md-8 p-4 border border-light rounded bg-primary">
        <h4>
          <u><strong><%= @recipe.title %></strong></u>
          <% if @recipe.favorited_by?(current_user) %>
            <%= link_to recipe_favorites_path(@recipe), method: :delete do %>
              ♥<%= @recipe.favorites.count %> いいね
            <% end %>
          <% else %>
            <%= link_to recipe_favorites_path(@recipe), method: :post do %>
              ♡<%= @recipe.favorites.count %> いいね
            <% end %>
          <% end %>
        </h4>
      <div class="row justify-content-center">
        <div class="col-md-5 m-3 rounded bg-warning d-flex align-items-center justify-content-center">
          <%= attachment_image_tag @recipe, :image, size: "200x200", class:"p-2", fallback: "l_e_others_501.png" %>
        </div>
        <div class="col-md-5 rounded bg-warning m-3">
          <p>＜使用食材＞</p><br>
          <p><%= @recipe.foodstuff %></p>
        </div>
        <div class="col-md-5 rounded bg-warning m-3">
          <p>＜手順＞</p><br>
          <p><%= @recipe.instructions %></p>
        </div>
        <div class="col-md-5 rounded bg-warning m-3">
          <p>＜調理メモ＞</p><br>
          <p><%= @recipe.impression %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="offset-md-4 col-md-8 border border-light rounded bg-primary">
      <h5 class="m-3"><u>コメント</u>(<%= @recipe.recipe_comments.count %>)</h5>
        <div class="col-12">
          <% @recipe.recipe_comments.each do |recipe_comment| %>
            <div class="border border-dark rounded bg-warning m-3">
              <p class="py-2 border-bottom border-secondary" align="center"><%= recipe_comment.comment %></p>
              <p align="right"><%= link_to user_path(recipe_comment.user) do %><%= recipe_comment.user.name %><% end %> <%= recipe_comment.created_at.strftime('%Y.%m.%d') %>
                <% if recipe_comment.user == current_user %>
                  <%= link_to "削除",recipe_recipe_comment_path(recipe_comment.recipe, recipe_comment), method: :delete %></p>
                <% end %>
            </div>
          <% end %>
          <div class="border border-dark rounded bg-warning m-3">
            <%= form_with(model:[@recipe, @recipe_comment], local: true) do |f| %>
              <h4 class="my-3 mx-5"><u>新規コメント</u></h4>
              <div class="form-group text-center">
                <div class="col-md-6 offset-md-3">
                  <%= f.text_area :comment, rows:'5',class:"form-control w-100", placeholder: "コメントをここに" %>
                  <%= f.submit "送信する", class: "btn btn-danger w-50 my-2" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>