<main>
  <div class="container">
    <div class="row">
      <h4 class="col-md-4 offset-md-3"><u><strong>プロフィール編集</strong></u></h4>
    </div>
    <div class="row justify-content-center">
      <%= form_with model:@user, local:true do |f| %>
        <table class="table table-borderless table_border_radius">
          <tr class="form-group">
              <th><%= f.label :name, "名前", class:"pt-2 col-form-label" %></th>
              <td><%= f.text_field :name, class:"form-control" %></td>
          </tr>
          <tr class="form-group">
            <th><%= f.label :image ,"プロフィール画像", class:"col-form-label" %></th>
              <td><%= f.attachment_field :profile_image, class:"align-bottom" %></td>
          </tr>
          <tr class="form-group">
              <th><%= f.label :introduction, "自己紹介", class:"col-form-label" %></th>
              <td><%= f.text_area :introduction, class:"form-control" %></td>
          </tr>
          <tr class="actions text-center">
            <th colspan="2"><%= f.submit "編集を保存する", class: "btn  btn-danger w-100" %></th>
          </tr>
        <% end %>
        </table>
    </div>
</main>