<!DOCTYPE html>
<html>
  <head>
    <title>JisuiFriend</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <%= link_to root_path do %>
            <%= image_tag('logo.png') %>
          <% end %>
          <div class="col-3 text-center"><span>検索🔍</span></div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to "レシピ一覧", recipes_path, class: 'nav-link text-light btn mx-1'%>
              </li>
              <li class="nav-item">
                <%= link_to "会員一覧", users_path, class: 'nav-link text-light btn mx-1' %>
              </li>
              <li class="nav-item">
                <%= link_to "マイレシピ", user_path(current_user.id), class: 'nav-link text-light btn mx-1' %>
              </li>
              <li class="nav-item">
                <%= link_to "新規投稿", new_recipe_path, class: 'nav-link text-light btn mx-1' %>
              </li>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link text-light btn mx-1' %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "レシピ一覧", recipes_path, class: 'nav-link text-light btn mx-1' %>
              </li>
              <li class="nav-item">
                <%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-light btn mx-1' %>
              </li>
              <li class="nav-item">
                <%= link_to "ログイン",  new_user_session_path, class: 'nav-link text-light btn mx-1' %>
              </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
    <p id="notice"><%= notice %></p>
    <%= yield %>
    </main>
    <footer>
      <div class="container mx-auto border-top border-dark">
        <div class="row">
          <div class="mx-auto py-5">
            <p>©2021 K.muramatsu</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
